@font-face {
  font-family: "Montserrat-Regular";
  src: url("../src/assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../src/assets/fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../src/assets/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../src/assets/fonts/Montserrat-Bold.ttf");
}

/* @font-face {
  font-family: "Modern-Era-Mono-Medium";
  src: url("../src/assets/fonts/Modern-Era-Mono/Modern-Era-Mono-Medium.ttf");
}

@font-face {
  font-family: "Modern-Era-Bold";
  src: url("../src/assets/fonts/Modern-Era/Modern-Era-Bold.ttf");
}

@font-face {
  font-family: "Modern-Era-Medium";
  src: url("../src/assets/fonts/Modern-Era/Modern-Era-Medium.ttf");
}

@font-face {
  font-family: "Modern-Era-Regular";
  src: url("../src/assets/fonts/Modern-Era/Modern-Era-Regular.ttf");
}

@font-face {
  font-family: "Modern-Era-Mono-Extra-Bold";
  src: url("../src/assets/fonts/Modern-Era-Mono/Modern-Era-Mono-Extra-Bold.ttf");
}

@font-face {
  font-family: "Modern-Era-Mono-Regular";
  src: url("../src/assets/fonts/Modern-Era-Mono/Modern-Era-Mono-Regular.ttf");
}

@font-face {
  font-family: "Modern-Era-Light";
  src: url("../src/assets/fonts/Modern-Era/Modern-Era-Light.ttf");
}

@font-face {
  font-family: "Modern-Era-Mono-Bold";
  src: url("../src/assets/fonts/Modern-Era-Mono/Modern-Era-Mono-Bold.ttf");
}

@font-face {
  font-family: "Helvetica";
  src: url("../src/assets/fonts/Helvetica.ttf");
}

@font-face {
  font-family: "Helvetica-Neue-Medium";
  src: url("../src/assets/fonts/HelveticaNeue Medium.ttf");
}

@font-face {
  font-family: "Univers-LT-Std-67-Bold";
  src: url("../src/assets/fonts/Univers-LT-Std-67-Bold.ttf");
}

@font-face {
  font-family: "Univers-LT-Std-45-Light";
  src: url("../src/assets/fonts/Univers-LT-Std-45-Light.ttf");
} */
